
Grading System/bin/Debug/Grading System.vshost.exe.manifest
Grading System/bin/Debug/Grading System.exe
Grading System/bin/Debug/Grading System.pdb
Grading System/bin/Debug/Grading System.xml
Grading System/obj/Debug/Grading System.exe
Grading System/obj/Debug/Grading System.pdb
Grading System/obj/Debug/Grading_System.Resources.resources
Grading System/obj/Debug/Grading System.xml
Grading System/obj/Debug/Grading System.vbprojResolveAssemblyReference.cache
Grading System/obj/Debug/Grading System.vbproj.GenerateResource.Cache
Grading System/obj/Debug/Grading System.vbproj.FileListAbsolute.txt
Grading System/obj/Debug/Grading System.vbproj.FileListAbsolute.txt
Grading System/obj/Debug/Grading System.vbproj.FileListAbsolute.txt
Grading System/.vs/Grading System/v14/.suo
Grading System/obj/Debug/Grading_System.Form1.resources
Grading System/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Grading System/Grading System/bin/Debug/Grading System.exe
Grading System/Grading System/bin/Debug/Grading System.pdb
Grading System/Grading System/bin/Debug/Grading System.xml
Grading System/Grading System/obj/Debug/Grading System.exe
Grading System/Grading System/obj/Debug/Grading System.pdb
Grading System/Grading System/obj/Debug/Grading System.xml
Grading System/Grading System/obj/Debug/Grading_System.frmMain.resources
Grading System/Grading System/obj/Debug/Grading_System.Resources.resources
Grading System/Grading System/obj/Debug/Grading System.vbproj.FileListAbsolute.txt
Grading System/Grading System/obj/Debug/Grading System.vbproj.GenerateResource.Cache
Grading System/Grading System/obj/Debug/Grading System.vbprojResolveAssemblyReference.cache
Grading System/Grading System/obj/Debug/Grading System.vbproj.FileListAbsolute.txt
*.txt
Grading System/Grading System/bin/Debug/Grading System.vshost.exe.manifest
Grading System/Grading System/obj/Debug/DesignTimeResolveAssemblyReferences.cache
